.intitule-vocabulaire {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid black;
    display: grid; 
    grid-auto-flow: column; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    justify-items: center;
}

.container-vocabulaire {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border: 1px solid black;
    display: grid; 
    grid-auto-flow: column; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 2fr  3fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". . . ."; 
    justify-items: stretch;
}